.shiny-text {
  background: linear-gradient(
    120deg,
    var(--color-gold) 40%,
    #ffffff 50%,
    var(--color-gold) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text.disabled {
  animation: none;
}
